* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_9 {
  width: 100%;
  height: 650px;
  background: url("../images/landingBackground.jpg");
  opacity: 1;
  position: absolute;
  background-size: cover;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/*logo*/
.v118_7 {
  width: 284px;
  height: 88px;
  background: url("../images/v118_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 32px;
  overflow: hidden;
}
/* bottom text */
.v119_3 {
  width: 598px;
  color: rgba(255,255,255,255);
  position: absolute;
  top: 500px;
  left: 10px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
/*bottom text pt2*/
.v119_4 {
  width: 598px;
  color: rgba(105,155,247,1););
  position: absolute;
  top: 500px;
  left: 280px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
/*Services Text*/
.v123_2 {
  width: 160px;
  color: rgba(55,69,92,1);
  position: absolute;
  top: 43px;
  left: 345px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v123_3 {
  width: 208px;
  color: rgba(55,69,92,1);
  position: absolute;
  top: 43px;
  left: 463px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v123_4 {
  width: 145px;
  color: rgba(55,69,92,1);
  position: absolute;
  top: 42px;
  left: 632px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
/*Covid-19 text*/
.v123_5 {
  width: 168px;
  color: rgba(185,66,66,1);
  position: absolute;
  top: 46px;
  left: 767px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
/*login rectangle */
.v126_2 {
  width: 132px;
  height: 44px;
  background: rgba(105,155,247,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 955px;
  overflow: hidden;
}
/*login text*/
.v126_3 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 976px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;

}
/*white search box*/
.v126_13 {
  width: 587px;
  height: 66px;
  background: rgba(255,255,255,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 316px;
  border: 4px solid rgba(255,255,255,1);
}
.name {
  color: #fff;
}
/*text in search box*/
.v126_15 {
  width: 444px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 280px;
  left: 387px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
/*begin drop down menu objects----------------------------------------------------------------------------------------*/
.dropbtn {
  background-color: transparent;
  color: #293241;
  padding: 4px;
  font-size: 24px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(105,155,247,1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 0.5px solid rgba(55,69,92,1);
  
 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #293241;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 0.5px solid rgba(55,69,92,1);

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3D73D7;}

/*covid link */
.dropbtn2 {
  background-color: transparent;
  color: red;
  padding: 0px;
  font-size: 24px;
  border: none;
}

/*links style to prevent underlining*/
.links{
  text-decoration: none;
}
